.COUNTER {background:var(--gray-bg);color:#fff;border-radius:50vh;font-weight:var(--semibold);padding:0 8px;font-size:var(--font-size-small);line-height:24px;}
    .COUNTER._RIGHT {margin-left:8px;}
    .COUNTER._LEFT {margin-right:8px;}