/* https://cssloaders.github.io/ */
/* https://loading.io/css/ (тоже клёвые, но, не используем) */

.LOADER, .LOADER._48 {
    width:48px;
    height:48px;
    border:4px solid var(--loader-element);
    border-bottom-color:transparent;
    border-left-color:transparent;
    border-radius:50%;
    display:inline-block;
    box-sizing:border-box;
    /*animation:rotation 1s linear infinite;*/ /* CSS-анимации — зло */
}

.LOADER._12 {
    width:12px;
    height:12px;
    border-width:1px;
}

.LOADER._24 {
    width:24px;
    height:24px;
    border-width:2px;
}

.LOADER._36 {
    width:36px;
    height:36px;
    border-width:3px;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}