.TABS {display:flex;background:#fff;align-items:center;}
.TABS._SHADOW {box-shadow:0 0 0 1px var(--table-border-color);}
    .TAB {position:relative;padding:0 24px;height:60px;display:flex;align-items:center;text-decoration:none;font-weight:var(--semibold);color:var(--secondary);transition:all var(--transition-speed) ease;}
        .TAB:before {content:'';position:absolute;bottom:-1px;left:0;right:0;height:0px;transition:all var(--transition-speed) ease;}
    .TAB:hover {background:var(--hover-alpha);color:#000;}
        .TAB:hover:before {background:var(--underline-color);height:4px;}
    .TAB:active {background:var(--active-alpha);}
    .TAB._CURRENT {position:relative;color:#000;}
        .TAB._CURRENT:before {content:'';position:absolute;left:0;right:0;height:4px;background:var(--blue);height:4px;}
