.NOSCROLLBAR {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    /*box-shadow:0 0 3px rgba(0,0,0,0.2);*/
}

.NOSCROLLBAR::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
}

.NOWRAP      {white-space:nowrap;}
.FIT         {white-space:nowrap;width:1px;}
.PADDINGLESS {padding:0;}

.CENTER {text-align:center !important;;}
.LEFT   {text-align:left !important;;}
.RIGHT  {text-align:right !important;;}

.TOP    {vertical-align:top !important;}
.BOTTOM {vertical-align:middle !important;;}
.MIDDLE {vertical-align:bottom !important;;}

.LOADING {
    color:transparent !important;
	background-size:auto 120%;    /* 120% of button height, established empirically, guess it depends on svg, specified next, probably it has spaces */
	background-position:center;   /* Works both for horizontal and vertical */
	background-repeat:no-repeat;
}
.LOADING {background-image:url('data:image/svg+xml,<svg fill="hsl(0, 0%, 60%)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve"><path d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"><animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite"/></path></svg>')}
