.CARDS {
    box-shadow:0 0 0 1px var(--table-border-color);
    background:var(--table-bg);
}
.CARDS         {--cards-space:18px;}
.CARDS._DENSE  {--cards-space:12px;}
.CARDS._SPARSE {--cards-space:24px;}

.CARDS._STRETCH {width:100%}

    .CARDS > thead {background:var(--table-thead-bg);}
    .CARDS._STICKY > thead:first-child {position:sticky;top:var(--header-height);z-index:2;}

    /* Строки */
    .CARDS > :is(thead, tbody, tfoot) > tr {}
    .CARDS > :is(thead, tbody, tfoot) > tr:not(:last-child) {border-bottom:1px solid var(--table-border-color)}

    /* Строки в шапке */
    .CARDS > thead > tr {}
        .CARDS > thead > tr > td {box-shadow:inset 0 calc(var(--table-border-width-y) * -1) 0 var(--table-border-color);}
        .CARDS > *:last-child > tr:last-child > :is(th, td) {box-shadow:none;}

        /* Ячейки */
        .CARDS > :is(thead, tbody, tfoot) > tr > td {padding:var(--cards-space) calc(var(--cards-space) / 2);vertical-align:middle;}
        .CARDS > :is(thead, tbody, tfoot) > tr > td:first-child {padding-left:var(--cards-space);}
        .CARDS > :is(thead, tbody, tfoot) > tr > td:last-child {padding-right:var(--cards-space);}

        /* Коллапсим всё, кроме первой колонки */
        .CARDS._NOWRAP_EXCEPT_FIRST > :is(thead, tbody, tfoot) > tr > td:not(:first-child) {width:1px;white-space:nowrap;}

        .CC._SEPARATOR {position:relative;}
        .CC._SEPARATOR:after {content:'';position:absolute;top:var(--cards-space);bottom:var(--cards-space);display:block;width:1px;background:var(--table-border-color);}

        /* Детали */
        .CARDS > tbody > tr:has(.CARD_DETAILS) {border-top:0;}
            .CARDS > tbody > tr:has(.CARD_DETAILS) > td {padding-top:0;}
                .CARDS > tbody > tr:has(.CARD_DETAILS) > td > .CARD_DETAILS {
                    border-top:1px solid var(--table-border-color);
                    padding-top:var(--cards-space);
                }
