.HIGHLIGHT         {padding:12px;border-radius:var(--border-radius);}

.HIGHLIGHT         {background:var(--highlight-bg);       box-shadow:inset 0 0 0 1px var(--highlight-border-color);}
.HIGHLIGHT._LIGHT  {background:var(--highlight-bg-light); box-shadow:inset 0 0 0 1px var(--highlight-border-color-light);}
.HIGHLIGHT._BLUE   {background:var(--highlight-bg-blue);  box-shadow:inset 0 0 0 1px var(--highlight-border-color-blue);}
.HIGHLIGHT._GREEN  {background:var(--highlight-bg-green); box-shadow:inset 0 0 0 1px var(--highlight-border-color-green);}
.HIGHLIGHT._RED    {background:var(--highlight-bg-red);   box-shadow:inset 0 0 0 1px var(--highlight-border-color-red);}
.HIGHLIGHT._ORANGE {background:var(--highlight-bg-orange);box-shadow:inset 0 0 0 1px var(--highlight-border-color-orange);}
.HIGHLIGHT._GRAY   {background:var(--highlight-bg-gray);  box-shadow:inset 0 0 0 1px var(--highlight-border-color-gray);}
.HIGHLIGHT._DARK   {background:var(--highlight-bg-dark);  box-shadow:inset 0 0 0 1px var(--highlight-border-color-dark);}