.SUMMARY {line-height:24px;}
    .SUMMARY > tbody > tr > :is(td, th) {padding:3px;}
    .SUMMARY > tbody > tr > :is(td, th):first-child {color:var(--secondary);font-weight:var(--semibold);text-align:left;padding-left:0;}