.TABLE {
    /* ЖИРНОСТЬ ДЛЯ THEAD TH и ОСТАЛЬНЫХ */

    /* Глобально сказать всем таблицам — никаких бордеров по Х */

    --table-sticky-height:
        calc(calc(--table-thead-line-height) +
        var(--table-padding-y) +
        var(--table-padding-y) +
        var(--table-border-width-y)
    );

    box-shadow:0 0 0 var(--table-outline-width) var(--table-border-color);
    border-radius:var(--table-border-radius);
}

/* TABLE MODIFIERS */

.TABLE._STRETCH {width:100%}

.TABLE._STICKY > *:first-child {position:sticky;top:var(--header-height);z-index:var(--table-sticky-header-z-index);}

.TABLE._DRESSED > thead > tr:nth-child(odd)  > :is(th, td) {background:var(--table-thead-bg);}
.TABLE._ZEBRA > tbody > tr:nth-child(odd)  > :is(th, td) {background:var(--table-stripe-bg) !important;}
.TABLE._TIGER > tbody > tr:nth-child(even) > :is(th, td) {background:var(--table-stripe-bg) !important;}

/* CELLS */

/* common */
.TABLE > * > tr > :is(th, td) {
    background:var(--table-bg);
    padding:
            var(--table-padding-y)
            var(--table-padding-x)
            calc(var(--table-padding-y) + var(--table-border-width-y))
            var(--table-padding-x);
    text-align:var(--table-text-align);
    vertical-align:var(--table-vertical-align);
    box-shadow:inset 0 calc(var(--table-border-width-y) * -1) 0 var(--table-border-color);
    border-right:var(--table-border-width-x) solid var(--table-border-color);
    line-height:var(--table-line-height);
    font-size:var(--table-font-size);
}

/* border-radius */
.TABLE > *:first-child > tr:first-child > :is(th, td):first-child {border-top-left-radius:    var(--table-border-radius);}
.TABLE > *:first-child > tr:first-child > :is(th, td):last-child  {border-top-right-radius:   var(--table-border-radius);}
.TABLE > *:last-child  > tr:last-child > :is(th, td):first-child {border-bottom-left-radius: var(--table-border-radius);}
.TABLE > *:last-child  > tr:last-child > :is(th, td):last-child  {border-bottom-right-radius:var(--table-border-radius);}

/* border */
.TABLE > *:last-child > tr:last-child > :is(th, td) {box-shadow:none;}
.TABLE > * > tr > :is(th, td):last-child {border-right:0;}

/* font-weight */
.TABLE > * > tr > th {font-weight:var(--table-th-font-weight);}
.TABLE > thead > tr > th {font-weight:var(--table-thead-th-font-weight);}
