.CHIPS {
    display:inline-flex;
    background:var(--interactive-border-color);
    border-radius:var(--border-radius);
    min-height:var(--control-height);
    --chip-padding:calc(var(--control-height) / 2 - var(--chip-border-width) - 1px);  /* In case of 36 — padding 'll be 16 */
}
.CHIPS._STRETCH {display:flex;}

    .CHIP {
        /* DISABLE SELECT */
        user-select:none;
        -webkit-user-select:none; /* Safari fallback only */
        -moz-user-select:none;    /* Firefox */
        -ms-user-select:none;     /* IE10+ */

        /* DEFAULT */
        transition:background-color var(--button-transition-speed) ease;
        border-radius:var(--border-radius);
        min-height:var(--control-height);
        font-size:calc(var(--control-font-size));
        border:var(--chip-border-width) solid var(--interactive-border-color);
        display:inline-flex;
        align-items:center;
        justify-content:center;
        font-weight:var(--button-font-weight);
        cursor:pointer;
        padding:0 var(--chip-padding);
        position:relative;
    }
    .CHIP:not(:first-child) {margin-left:calc(var(--chip-border-width) * -1);}
    .CHIPS._STRETCH .CHIP {flex-grow:1;padding:0}

    .CHIP:hover {
        background:#fff;
    }
    .CHIP:active {
        background:rgba(255,255,255,0.5);
    }
    .CHIP:is(._CURRENT, :has([type="radio"]:checked)) {
        background:var(--button-blue);
        border-color:var(--button-blue);
        color:#fff;
        z-index:1;
    }
        .CHIP input {display:none;}
