/* ALL CONTROLS */

.INPUT, .INPUT:before, .INPUT:after,
.CHECKBOX, .CHECKBOX:before, .CHECKBOX:after,
.RADIO, .RADIO:before, .RADIO:after {transition:all var(--control-transition-speed) ease;}

.INPUT, .SELECT, .TEXTAREA, .CONTENTEDITABLE {background-color:var(--control-bg);border:var(--control-border-width) solid var(--interactive-border-color);border-radius:var(--border-radius);padding-left:6px;padding-right:6px;min-width:100%;}
.INPUT._INLINE, .SELECT._INLINE, .TEXTAREA._INLINE, .CONTENTEDITABLE._INLINE {min-width:auto;}
.INPUT._STRETCH, .SELECT._STRETCH, .TEXTAREA._STRETCH, .CONTENTEDITABLE._STRETCH {width:100%;}

@media (hover:hover) {.INPUT:hover,  .SELECT:hover,  .TEXTAREA:hover,  .CONTENTEDITABLE:hover,  .CHECKBOX input:hover:before,  .RADIO input:hover:before  {border-color:var(--interactive-border-color-hover);background-color:var(--control-bg-hover);}}
@media (hover:hover) {.INPUT:active, .SELECT:active, .TEXTAREA:active, .CONTENTEDITABLE:active, .CHECKBOX input:active:before, .RADIO input:active:before {border-color:var(--interactive-border-color-active);background-color:var(--control-bg-active);}}
.INPUT:focus-visible, .SELECT:focus-visible, .CHECKBOX:focus-visible, .RADIO:focus-visible, .TEXTAREA:focus-visible, .CONTENTEDITABLE:focus-visible {outline-offset:-1px;outline:3px solid var(--control-outline);position:relative;}

/* sizes */

:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)        {--control-height:var(--control-base-height);--control-font-size:var(--control-base-font-size);}
:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)._TINY  {--control-height:24px;--control-font-size:14px;}
:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)._SMALL {--control-height:30px;--control-font-size:15px;}
:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)._BIG   {--control-height:42px;--control-font-size:18px;}
:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)._LARGE {--control-height:48px;--control-font-size:20px;}
:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)._HUGE  {--control-height:54px;--control-font-size:22px;}
:is(.INPUT, .TEXTAREA, .SELECT, .CHIPS)._GIANT {--control-height:60px;--control-font-size:24px;}

/* INPUT */

.INPUT {height:var(--control-height);font-size:var(--control-font-size);}

/* TEXTAREA */

.TEXTAREA {padding-top:5px;padding-bottom:5px;line-height:24px;min-height:var(--control-height);}
.TEXTAREA._MODERN {border-left:0;border-right:0;border-top:0;border-radius:0;padding-left:0;padding-right:0;}
.TEXTAREA._MODERN:focus-visible {border-bottom-width:3px;border-color:var(--control-outline);padding-bottom:3px;outline:none;}
.TEXTAREA._HORIZONTAL           {resize:horizontal;}
.TEXTAREA._VERTICAL             {resize:vertical;}
.TEXTAREA._NONE                 {resize:none;}

/* CONTENTEDITABLE */

.CONTENTEDITABLE {min-height:24px;padding-top:5px;padding-bottom:5px;background:#fff;}
.CONTENTEDITABLE._DIVABLE {display:block;}
.CONTENTEDITABLE._BRABLE {display:inline-block;}

.CONTENTEDITABLE._DOUBLE {min-height:60px;}

.CONTENTEDITABLE._MODERN {position:relative;border:0;border-radius:0;padding:6px 0;}
/* Делаем так хитро, чтобы ничего не прыгало, и в перспективе можно было хитро подсвечивать: */
.CONTENTEDITABLE._MODERN:after {content:'';position:absolute;bottom:0;left:0;right:0;height:1px;background:var(--interactive-border-color);}
.CONTENTEDITABLE._MODERN:focus-visible {outline:none;}
.CONTENTEDITABLE._MODERN:focus-visible:after {height:2px;background:var(--control-outline);}

.CONTENTEDITABLE._EMPTY:before {
    content:attr(data-placeholder);
    color:var(--placeholder);
    position:absolute;
}

/* CHECKBOX AND RADIO */

.CHOICES {display:inline-flex;align-items:center;}
    .CHOICES > .CHOICE:not(:first-child) {margin-left:12px;}

    .CHOICE {display:inline-flex;align-items:center;font-size:16px;line-height:20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

        .CHECKBOX,                       .RADIO {border:0;width:24px;height:24px;position:relative;margin-right:6px;flex-shrink:0;}
        .CHECKBOX:before,                .RADIO:before {content:'';box-sizing:border-box;display:inline-block;border:1px solid var(--interactive-border-color);background:#fff;height:24px;width:24px;position:absolute;top:0;left:0;}
        @media (hover:hover) {
        .CHECKBOX:hover:before,          .RADIO:hover:before {background:var(--hover)}}
        .CHECKBOX:active:before,         .RADIO:active:before {outline:3px solid var(--control-outline);outline-offset:-2px;}
        .CHECKBOX:checked:before,        .RADIO:checked:before {background:var(--control-bright-bg);border-color:transparent !important;}
        @media (hover:hover) {
        .CHECKBOX:checked:hover:before,  .RADIO:checked:hover:before  {background:var(--control-bright-bg-hover)}}
        .CHECKBOX:checked:active:before, .RADIO:checked:active:before {background:var(--control-bright-bg-active)}

        .CHECKBOX:before {border-radius:var(--border-radius);}
        .CHECKBOX:after {content:'';display:inline-block;transform:rotate(45deg);height:12px;width:5px;border-bottom:3px solid transparent;border-right:3px solid transparent;position:absolute;top:3px;left:8px;}
        .CHECKBOX:checked:after {border-bottom-color:#fff;border-right-color:#fff;}

        .RADIO:before {border-radius:100%;}
        .RADIO:after {content:'';display:inline-block;height:10px;width:10px;border-radius:100%;background:transparent;position:absolute;top:7px;left:7px;}
        .RADIO:checked:after {background:#fff;}

